<p>questions: <%=@question%><p>-You</p></p>
<p>questions: <%=@answer%><p>-Your coach</p></p>
<%# <form action="Ask question:" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> %>

<%= link_to "Ask a new question", ask_path %>
